corr_matrix_Anual.png
corr_matrix_Diário.png
corr_matrix_Mensal.png
execution.log
metodolia.txt
__pycache__/config.cpython-312.pyc
results/correlation_matrix_mensal.png
results/metodologia_e_discussao.txt
